@using Util
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-offset-8 col-md-4 jumbotron">
        <h2 style="color: white;">@Constantes.NOME_APLICACAO</h2>
        <p>Texto vai aqui. No momento não temos tempo para elaborar algo inspirador. Logo, segue este texto aleatório.</p>
    </div>
</div>